ion-content{
    --background: linear-gradient(45deg, #4158D0 0%, #C850C0 100%);
}

ion-item{
    --background: rgba(40,40,40,1);
    --color: #fff;
    width:auto;
    margin-left: 10%;
    margin-right: 10%;
}

ion-button{
    margin-top: 5%;
    --background: rgba(40,40,40,1);
    width:auto;
    margin-left: 10%;
    margin-right: 10%;
}
.create{
    color: #ffff;
    margin-left: 18%;
    margin-right: auto;
}