ion-content{
    --background: rgba(95,99,161,1)
}

ion-item{
    --background: rgba(40,40,40,1);
    --color: #fff;
    width:auto;
    margin-left: 10%;
    margin-right: 10%;
}

ion-button{
    margin-top: 5%;
    --background: rgba(40,40,40,1);
    width:auto;
    margin-left: 10%;
    margin-right: 10%;
}

a{
    color: rgb(233, 233, 233);
}
.sign{
    width:20%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255,255,255);
}

