
ion-title{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
#container{
    background: linear-gradient(225deg, #50c4c8, #4158d0);
}
ion-content{
    --background: linear-gradient(100deg, #4158d0, #50c4c8);
}
ion-searchbar{
    float: right;
    width: 70%;
    margin-right: 5%;
}
.add{
    width: 15%;
    margin-left: 5%;
    --background: linear-gradient(45deg, #50c896, #41d048);
    margin-top: 3%;
}
ion-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
ion-card-title{
    text-align: center;
}
ion-card-subtitle{
    text-align: center;
}
.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.delete{
    float: right;
    --background: linear-gradient(45deg, #d04141, #d49c5d);
}
.create{
    --background: linear-gradient(45deg, #4158d0, #50c4c8);
}
ion-card{
    --background: linear-gradient(45deg, #c2c2c2, #ffffff);
    margin-bottom: 10%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}