.container{
    height:40%;
}
.container h1{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.container p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: medium;
}
.container h2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}